{% extends 'layout.html' %} {% block head %} {% endblock head %} {% block
content %} 

<form method="POST" action="">
  {{ form.hidden_tag() }}
  <div class="elform-grop">

      {{ form.matric.label(class="elform-label") }}

      {% if form.matric.errors %} {{
      form.matric(class="form-control form-control-lg is-invalid") }}
      <div class="invalid-feedback">
        {% for error in form.matric.errors %}
        <span> {{ error }} </span>
        {% endfor %}
      </div>
      
      {% else %}
      <div class="elform-input">
        {{ form.matric(class="elform-input") }}
      </div>
      {% endif %}
      {{ form.submit(class="elbutton")}}
  </div>
</form>

{% endblock content %}