{% extends 'layout.html' %} {% block head %} {% endblock head %} {% block
content %} 
<h1>
  Hello {{userName}}
</h1>
<form method="POST" action="">
  {{ form.hidden_tag() }}
  <fieldset class="form-grop">
    <div class="form-grop">
      {{ form.new_password.label(class="form-control-label") }}<br />
      {% if form.new_password.errors %} {{
      form.matric(class="form-control form-control-lg is-invalid") }}
      <div class="invalid-feedback">
        {% for error in form.new_password.errors %}
        <span> {{ error }} </span>
        {% endfor %}
      </div>
      {% else %}
      <div class="jb-element-width-50 jb-margin-center">
        {{ form.new_password(class="form-control form-control-lg") }}
      </div>
      {% endif %}
    </div>
    <div class="form-grop">
      {{ form.re_password.label(class="form-control-label") }}<br />
      {% if form.re_password.errors %} {{
      form.matric(class="form-control form-control-lg is-invalid") }}
      <div class="invalid-feedback">
        {% for error in form.re_password.errors %}
        <span> {{ error }} </span>
        {% endfor %}
      </div>
      {% else %}
      <div class="jb-element-width-50 jb-margin-center">
        {{ form.re_password(class="form-control form-control-lg") }}
      </div>
      {% endif %}
    </div>
    <div class="">
      {{ form.submit(class="")}}
    </div>
  </fieldset>
</form>

{% endblock content %}