{% extends 'layout.html' %} {% block head %} {% endblock head %} {% block
content %} 
<h1>
  <p><span class="elform-label">Hello {{username}}!</span></p>
  <p><span class="elText">As this is your first time using Eusoffline, 
    you are required to create a 6 digit pin for future login.</span></p>
</h1>
<form method="POST" action="">
  {{ form.hidden_tag() }}
    <div class="elform-grop">

      {{ form.new_password.label(class="elform-label") }}

      {% if form.new_password.errors %} {{
      form.matric(class="form-control form-control-lg is-invalid") }}
      <div class="invalid-feedback">
        {% for error in form.new_password.errors %}
        <span> {{ error }} </span>
        {% endfor %}
      </div>

      {% else %}
      <div class="elform-input">
        {{ form.new_password(class="elform-input") }}
      </div>
      {% endif %}
    </div>

      {{ form.re_password.label(class="elform-label") }}<br />
      {% if form.re_password.errors %} {{
      form.matric(class="form-control form-control-lg is-invalid") }}
      <div class="invalid-feedback">
        {% for error in form.re_password.errors %}
        <span> {{ error }} </span>
        {% endfor %}
      </div>
      {% else %}
      <div class="elform-input">
        {{ form.re_password(class="elform-input") }}
      </div>
      {% endif %}
      {{ form.submit(class="elbutton")}}
</form>

{% endblock content %}