{% extends 'layout.html' %}

{% block head %}
{% endblock head %}

{% block style %}

{% endblock style %}
{% block content %}

{% if current_user.is_authenticated %}
<div class="elmainContainer">
    <div class="elmainContainerChild"> 
        <div class="elmainContainerPic">
            <i class="fas fa-basketball-ball elicon"></i>
        </div>
        <a class="elink" href="{{ url_for('cca.ccaHome') }}">
            <button class="elbutton">
                CCA Related
            </button>
        </a>
    </div>
    <div class="elmainContainerChild">
        <div class="elmainContainerPic">
            <i class="fas fa-person-booth elicon"></i>
        </div>
        <a class="elink" href="#">
            <button onclick="openComingSoon()" class="elbutton">
                33rd JCRC Election
            </button>
        </a>
    </div>
    <div class="elmainContainerChild">
        <div class="elmainContainerPic">
            <i class="fas fa-clock elicon"></i>
        </div>
        <a class="elink" href="#">
            <button onclick="openComingSoon()" class="elbutton">
                Coming Soon
            </button>
        </a>
    </div>
</div>

{% else %}
<div class="elloginbox">
    <p>
        <span class="elText">Login to access eusoffline services</span>
    </p>

    <a class="elink" href="{{ url_for('main.mainCheckMatric') }}">
        <button style="float: bottom; width: 120px" class="elbutton">
            Login
        </button>
    </a>
</div>
{% endif %}

{% endblock content %}