{% extends 'layout.html' %} {% block head %} {% endblock head %} {% block
content %} 

<form method="POST" action="">
  {{ form.hidden_tag() }}
    <div>
      {{ form.matric.label(class="elform-label") }}
    </div>

    <div>
      {% if form.matric.errors %} {{
      form.matric(class="form-control form-control-lg is-invalid") }}
      <div class="invalid-feedback">
        {% for error in form.matric.errors %}
        <span> {{ error }} </span>
        {% endfor %}
      </div>
    </div>

    <div>
      {% else %}
        {{ form.matric(class="elform-input") }}
      {% endif %}
    </div>


    <div class="elform-group">
      {{ form.password.label(class="elform-label") }}
    </div>

    <div>
      {% if form.password.errors %} {{
      form.password(class="form-control form-control-lg is-invalid") }}
      <div class="invalid-feedback">
        {% for error in form.password.errors %}
        <span> {{ error }} </span>
        {% endfor %}
      </div>
    </div>

    <div class="elform-group">
      {% else %}
        {{ form.password(class="elform-input") }}
      {% endif %}
    </div>
    
    <div class="elform-group">
      {{ form.submit(class="elbutton")}}
    </div>
</form>
{% endblock content %}