{% extends 'layout.html' %}

{% block head %}
{% endblock head %}

{% block style %}

{% endblock style %}
{% block content %}

{% if current_user.is_authenticated %}
<div class="elmainContainer">
    <div class="elmainContainerChild"> 
        <div class="elmainContainerPic">
            <i class="fas fa-calculator elicon"></i>
        </div>
        <a class="elink" href="{{ url_for('cca.ccaCheckPoint') }}">
            <button class="elbutton">
                View my CCA points
            </button>
        </a>
    </div>
    <div class="elmainContainerChild">
        <div class="elmainContainerPic">
            <i class="fas fa-sort-numeric-down elicon"></i>
        </div>
        <a class="elink" href="#">
            <button onclick="openComingSoon()" class="elbutton">
                View top 200 residents
            </button>
        </a>
    </div>
    <div class="elmainContainerChild">
        <div class="elmainContainerPic">
            <i class="fas fa-clock elicon"></i>
        </div>
        <a class="elink" href="#">
            <button onclick="openComingSoon()" class="elbutton">
                Coming Soon
            </button>
        </a>
    </div>
</div>
{% endif %}

{% endblock content %}