{% extends 'layout.html' %}

{% block style %}
<style>
.table{
    border-collapse: collapse;
    width: 80%;
    margin:auto;
    background-color: #ccc4c1;
}


@media screen and (min-width: 500px){
    th, td {
    text-align: center;
    padding: 16px;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid;
  }
}

@media screen and (max-width: 499px){
    th, td {
    text-align: center;
    padding: 7px;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid;
  }
}
  
  th {
    color: #3e3e3c;
  }</style>
{% endblock style %}
{% block content %}
<div class="mainContainer">
    <div style="margin: auto; width:80%; padding-top:10px; padding-bottom:10px; background-color: #ccc4c1;">
        <span id="mh" class="elwarning-font" style=" display: block;" >Residents eligible for JCRC election</span>
    </div>
    
    <table class="table" id="mt", style="display: table; margin:auto"> 
        <tr>
            <th>Name</th>
        </tr>
            {% for Resident in residents %}
            <tr >
                <th>{{Resident.name}}</th>
            </tr>
            {% endfor %}
        </table>
</div>
{% endblock content %}
{% block script %}
<script>
</script>
{% endblock script %}