{% extends 'layout.html' %}

{% block head %}
{% endblock head %}

{% block style %}

{% endblock style %}
{% block content %}

{% if current_user.is_authenticated %}
<div class="elmainContainer">
    <div class="elmainContainerChild"> 
        <div class="elmainContainerPic">
            <i class="fas fa-crown elicon"></i>
        </div>
        <a class="elink" href="{{ url_for('election.electionVoting', category='presidential', id='1', state='0') }}">
            <button class="elbutton">
                Presidential Election
            </button>
        </a>
    </div>
    <div class="elmainContainerChild">
        <div class="elmainContainerPic">
            <i class="fas fa-chair elicon"></i>
        </div>
        <a class="elink" href="#">
            <button onclick="openComingSoon()" class="elbutton">
                JCRC Election
            </button>
        </a>
    </div>
    <div class="elmainContainerChild">
        <div class="elmainContainerPic">
            <i class="fas fa-house-user elicon"></i>
        </div>
        <a class="elink" href="#">
            <button onclick="openComingSoon()" class="elbutton">
                Block Head Election
            </button>
        </a>
    </div>
</div>
{% endif %}

{% endblock content %}