<!DOCTYPE html>
<head>
    {% block head %}
    {% endblock head %}
    {% block style %}
    {% endblock style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <style>
    </style>
    <script src="https://kit.fontawesome.com/4edf531116.js" crossorigin="anonymous"></script>
</head>

<body>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class="elwarning">
      <span class="elwarning-font">{% for category,message in messages %}{{ message }}</span>
      {% endfor %}
    </div>
    {% endif %}
    {% endwith %} 

    <div class="header">
      <text class="bannerfont">Eusoffline</span></text>
    </div>

    <div class="content">
      {% block content %}
      {% endblock content %}
    </div>
    {% block script %}
    {% endblock script %}
</body>
