.orange-0{
    color:"#e59400"
}
.orange-1{
    color:"#fea500"
}
.orange-2{
    color:"#ffae19"
}
.orange-3{
    color:"#ffb732"
}
.orange-4{
    color:"#ffc04c"
}
.orange-5{
    color:"#ffc965"
}

.gold-1{
    color:"e6c200"
}
.gold-2{
    color:"ffd700"
}

body {    
    margin: 0 !important;
    padding: 0 !important;
    background-color: #e9eaec;
}

.header{
    justify-self: center;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 120px;
    display: inline-block;
    text-align: center;
    padding-top: 36px;
    color: white;
    background-color: #4d5870; /* For browsers that do not support gradients */
}

.elwarning{
    justify-self: center;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 50px;
    display: inline-block;
    text-align: center;
    padding-top: 12px;
    background-color: #ffb732; /* For browsers that do not support gradients */
}

.elwarning-font{
    font-size: 24px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.content{
    margin: auto;
    padding: 50px;
    /* width: 95%; */
    text-align: center;
}

.bannerfont{
    
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.elbutton{
    background-color: #262626;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

.elbutton-2{
    background-color: #ccc4c1;
    border: none;
    color: #262626;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

.elink{
    text-decoration: none;
}

.elform-label{
    font-family: Arial, Helvetica, sans-serif;
    padding:10px;
}

.elform-input{
    width: 60%;
    margin: auto;
    padding: 30px;
    
}
.elform-group{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
}

.elloginbox{
    height: 150px;
    padding:20px;
    background-color: #a2aaaf;
    border-radius: 12px;
}

.elloginbox-label{
    font-family: Arial, Helvetica, sans-serif;
    padding:10px;
    font-size: 25px;
}

.elmainContainer{
    width: 90%;
    height: 300px;
    text-align: center;
    margin: auto;
    display: flex;
    flex-wrap: nowrap;
}

.elmainContainerChild{
    width: 30%;
    height: 250px;
    background-color: #a2aaaf;
    margin: auto;
    text-align: center;
    border-radius: 20px;
}

