body {    
    margin: 0 !important;
    padding: 0 !important;
    background-color: #e9eaec;
}

.el-font {
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    justify-self: center;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 120px;
    display: inline-block;
    text-align: center;
    padding-top: 36px;
    color: white;
    background-color: #4d5870; /* For browsers that do not support gradients */
}

.elwarning{
    justify-self: center;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 50px;
    display: inline-block;
    text-align: center;
    padding-top: 12px;
    background-color: #ffb732; /* For browsers that do not support gradients */
}

.elwarning-font{
    font-size: 24px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.bannerfont{
    
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.elbutton{
    background-color: #262626;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

.elbutton-2{
    background-color: #ccc4c1;
    border: none;
    color: #262626;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

.elink{
    text-decoration: none;
}

@media screen and (min-width: 500px){
.mainContainer{
    width: "90%";
    margin-bottom: 40px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

.content{
    margin: auto;
    padding: 30px;
    text-align: center;
}

.elloginbox{
    height: 120px;
    padding:20px;
    width: 50%;
    background-color: #a2aaaf;
    border-radius: 12px;
    margin: auto;
}

.elloginbox-label{
    font-family: Arial, Helvetica, sans-serif;
    padding:10px;
    font-size: 25px;
}

.elmainContainer{
    width: 90%;
    height: 300px;
    text-align: center;
    margin: auto;
    display: flex;
    flex-wrap: nowrap;
}

.elmainContainerChild{
    width: 30%;
    height: 250px;
    background-color: #a2aaaf;
    margin: auto;
    text-align: center;
    border-radius: 20px;
}

.elmainContainerPic{
    height:120px; 
    margin-top: 30px; 
    margin-bottom: 20px
}


.elText{
    font-family: Arial, Helvetica, sans-serif;
    padding:10px;
    font-size: 20px;
}

.elicon{
    font-size:120px;
}

.elform-label{
    font-family: Arial, Helvetica, sans-serif;
    padding:10px;
}

.elform-input{
    width: 60%;
    margin: auto;
    padding: 30px;
    
}
.elform-group{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
}

.eltablebutton{
    background-color: #262626;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}
}

@media screen and (max-width: 499px){
    .elloginbox{
        margin: auto;
        width: 50%;
        height:150px;
        padding:20px;
        background-color: #a2aaaf;
        border-radius: 12px;
    }
    
    .elloginbox-label{
        font-family: Arial, Helvetica, sans-serif;
        padding:10px;
        font-size: 25px;
    }
    
    .elmainContainer{
        width: 90%;
        height: 300px;
        text-align: center;
        margin: auto;
        /* display: flex; */
        flex-wrap: nowrap;
    }
    
    .elmainContainerChild{
        width: 50%;
        height: 150px;
        background-color: #a2aaaf;
        margin: auto;
        margin-bottom: 20px;
        text-align: center;
        border-radius: 20px;
        padding: 10px;
    }
    
    .elText{
        font-family: Arial, Helvetica, sans-serif;
        padding:10px;
        font-size: 20px;
    }

    .elicon{
        font-size:80px;
    }

    .content{
        margin: auto;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 20px;
        text-align: center;
    }

    .elmainContainerPic{
        height:50%; 
        margin-bottom: 10px
    }    
    .elform-label{
        font-family: Arial, Helvetica, sans-serif;
        padding:10px;
    }
    
    .elform-input{
        width: 60%;
        margin: auto;
        padding: 15px;
        
    }
    .elform-group{
        text-align: center;
        margin-top: 30px;
        margin-bottom: 10px;
    }

    .eltablebutton{
        background-color: #262626;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 12px;
    }
    
    .mainContainer{
        width: "70%";
        margin-bottom: 40px;
        margin:auto;
    }
    /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
}